@charset "utf-8";
@import "~bulma/bulma";

.tile {
    flex-grow: unset;
}

.emoji {
    transition: transform .2s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
    will-change: transform;
}

.emoji img {
    overflow: hidden;
}

.emoji::after {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80px;
    opacity: 0;
    position: absolute;
    z-index: 100;
    left: 0;
    top: -20px;
    content: ":" attr(data-name) ":";
    font-size: $small-font-size;
    padding: $code-padding;
    color: $light;
    background-color: $dark;
    transition: opacity .5s linear;
    will-change: opacity;
}

.emoji:hover {
    transform: scale(1.5);
}

.emoji:hover::after {
    opacity: 1;
}

.is-absolute {
    position: absolute;
}
